Temp
Library
obj
/Project/UnityVS.Project.sln
/Project/Assembly-CSharp.csproj
/Project/Assembly-CSharp-Editor.csproj
/Project/Assembly-CSharp-Editor-vs.csproj
/Project/Assembly-CSharp-vs.csproj
/Project/Project.sln
/Project/Project.userprefs
/Project/Project-csharp.sln
/Project/UnityVS.Project.CSharp.csproj
/Project/UnityVS.Project.CSharp.Editor.csproj
UnityVS
/Project/Assets/UnityVS.meta
bin
/Project/*.suo
